
#banner{
    position: relative;
    margin-left: 0%;
    
    background-image: url('../../img/images/banner.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;    
    z-index: -1;  

}

#container{
    height:70vh;
    width: 100%;
    opacity: 0.5;
}

::-webkit-scrollbar {
    width: 5px;
  }
  ::-webkit-scrollbar-track {
    background-color: #7c7c7c;
  }

#bg-text {
  
  transform: translate(-0%, -150%);
}   